<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Editar Pessoa</mat-toolbar>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name">
        @if (form.get('name')?.invalid) {
          <mat-error>{{errorMessage('name')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Role" formControlName="role">
        @if (form.get('role')?.invalid) {
          <mat-error>{{errorMessage('role')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Age" formControlName="age" type="number">
        @if (form.get('age')?.invalid) {
          <mat-error>{{errorMessage('age')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
        @if (form.get('email')?.invalid) {
          <mat-error>{{errorMessage('email')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>País</mat-label>
        <mat-select formControlName="country">
          @for (country of countries; track country) {
            <mat-option [value]="country.name.common">
              {{ country.name.common }}
            </mat-option>
          }
        </mat-select>
        @if (form.get('country')?.invalid) {
          <mat-error>{{errorMessage('country')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Experience" formControlName="experience">
        @if (form.get('experience')?.invalid) {
          <mat-error>{{errorMessage('experience')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="isActive">
          <mat-option [value]="null"> </mat-option>
          <mat-option [value]="true">Ativo</mat-option>
          <mat-option [value]="false">Inativo</mat-option>
        </mat-select>
        @if (form.get('isActive')?.invalid) {
          <mat-error>{{errorMessage('isActive')}}</mat-error>
        }
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Salvar</button>
      <button mat-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
